@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
}
:root{
    /*### Primary*/
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    /*### Neutral*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
body{
    font-family: 'Inter', sans-serif;
    color: var(--Very-dark-blue);
    background-color: var(--Off-white);
    padding: 3rem 5rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--Very-dark-blue);
}
/********************navbar***********/
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

ul {
    display: flex;
    flex-direction: row;
    gap:1rem;
}
 p{
    font-weight:lighter;
    font-size: 13px;
    line-height: 1.8;
    
}
 h4:hover, h5:hover, li:hover,button:hover{
    cursor: pointer;
}
li:hover, a:hover, h5:hover{
  color: var(--Soft-red);
}
h4:hover{
  color: var(--Soft-orange);
}
button:hover{
    background-color: var(--Very-dark-blue) !important;
}
/************main grid****************/
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
/******************main section********/
#main-section{
    grid-column: 1 / 3;
}
#main-section img{
    width: 100%;
}
#main-section button{
  border: none;
  background-color: var(--Soft-red);
  color: var(--Off-white);
  padding: 1rem 2rem;
  align-self:flex-start;
  font-weight: 800;
}
#description{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
#description h1{
    font-size: 3rem;
}
#description>*{
    flex: 1;
}
#description div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




aside{
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

aside h2{
    color: var(--Soft-orange);
}

/*****************related-news******************/
#related-news{
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}
#related-news>div{
    display: flex;
    gap: 1rem;
    
}
#related-news img{
    width: 100px;
}
#related-news p{
    line-height: 1;
}
span{
    color: var(--Grayish-blue);
    font-size: 3rem;
}
.item-side>*{
    padding-top: .5rem;
}

@media (max-width: 900px){
    main{
      grid-template-columns:1fr;
      gap: 1;
    } 
    #main-section {
  grid-column: 1 / 2;
}
    #description {
  
  flex-direction: column;
  padding: 1rem;
}
    #related-news {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
}
